/* ==========================================================================
   @font-face includes
   ========================================================================== */
@font-face {
  font-family: 'NSbrush';
  src: url("../fonts/NSBrushBETA-Regular.eot");
  src: url("../fonts/NSBrushBETA-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/NSBrushBETA-Regular.woff2") format("woff2"), url("../fonts/NSBrushBETA-Regular.woff") format("woff"), url("../fonts/NSBrushBETA-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'NSscript';
  src: url("../fonts/NSScriptBETA-Regular.eot");
  src: url("../fonts/NSScriptBETA-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/NSScriptBETA-Regular.woff2") format("woff2"), url("../fonts/NSScriptBETA-Regular.woff") format("woff"), url("../fonts/NSScriptBETA-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'NStext';
  src: url("../fonts/NSTextBETA-Regular.eot");
  src: url("../fonts/NSTextBETA-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/NSTextBETA-Regular.woff2") format("woff2"), url("../fonts/NSTextBETA-Regular.woff") format("woff"), url("../fonts/NSTextBETA-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'NStext-bold';
  src: url("../fonts/NSTextBETA-Bold.eot");
  src: url("../fonts/NSTextBETA-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/NSTextBETA-Bold.woff2") format("woff2"), url("../fonts/NSTextBETA-Bold.woff") format("woff"), url("../fonts/NSTextBETA-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}


@font-face {
  font-family: 'NStext-light';
  src: url("../fonts/NSTextBETA-Light.eot");
  src: url("../fonts/NSTextBETA-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/NSTextBETA-Light.woff2") format("woff2"), url("../fonts/NSTextBETA-Light.woff") format("woff"), url("../fonts/NSTextBETA-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}


.handwritten {
  font-family: 'NSscript', helvetica, arial, san-serif;
}

/* ==========================================================================
   @typography 
   ========================================================================== */

h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 {
  font-weight: 200;
  line-height: 1.25;
  margin: 0 0 1rem;
  transition: font-size 250ms linear, opacity 250ms linear;
}

h1 a, a h1, .h1 a, a .h1, h2 a, a h2, .h2 a, a .h2, h3 a, a h3, .h3 a, a .h3, h4 a, a h4, .h4 a, a .h4, h5 a, a h5, .h5 a, a .h5, h6 a, a h6, .h6 a, a .h6 {
  text-decoration: none;
}

h1 a:hover, a:hover h1, .h1 a:hover, a:hover .h1, h2 a:hover, a:hover h2, .h2 a:hover, a:hover .h2, h3 a:hover, a:hover h3, .h3 a:hover, a:hover .h3, h4 a:hover, a:hover h4, .h4 a:hover, a:hover .h4, h5 a:hover, a:hover h5, .h5 a:hover, a:hover .h5, h6 a:hover, a:hover h6, .h6 a:hover, a:hover .h6 {
  text-decoration: underline;
}

h1 small, .h1 small, h2 small, .h2 small, h3 small, .h3 small, h4 small, .h4 small, h5 small, .h5 small, h6 small, .h6 small {
  display: block;
  font-size: 0.7em;
}

h1 .block, .h1 .block, h2 .block, .h2 .block, h3 .block, .h3 .block, h4 .block, .h4 .block, h5 .block, .h5 .block, h6 .block, .h6 .block {
  display: block;
}

p {
  margin: 0 0 2rem;
  &:empty {
    margin: 0;
  }
}

main {
  p, ul, ol {
    max-width: 60em;
  }
}

h1, .h1 {
  font-family: 'NStext-light', helvetica, arial, san-serif;
  font-size: 1.85em;
}

@media (min-width: 45em) {
  h1, .h1 {
    font-size: 2.2em;
  }
}

@media (min-width: 55em) {
  h1, .h1 {
    font-size: 2.5em;
  }
}

@media (min-width: 80em) {
  h1, .h1 {
    font-size: 2.75em;
  }
}

h2, .h2 {
  font-family: 'NStext-light', helvetica, arial, san-serif;
  font-size: 1.35em;
}

@media (min-width: 55em) {
  h2, .h2 {
    font-size: 1.65em;
  }
}

@media (min-width: 80em) {
  h2, .h2 {
    font-size: 2.25em;
  }
}

h3, .h3 {
  font-family: 'NStext-light', helvetica, arial, san-serif;
  font-size: 1.3em;
}

@media (min-width: 55em) {
  h3, .h3 {
    font-size: 1.45em;
  }
}

@media (min-width: 80em) {
  h3, .h3 {
    font-size: 1.6em;
  }
}

h4, .h4 {
  font-family: 'NStext', helvetica, arial, san-serif;
  font-size: 1.1em;
}

@media (min-width: 55em) {
  h4, .h4 {
    font-size: 1.2em;
  }
}

@media (min-width: 80em) {
  h4, .h4 {
    font-size: 1.3em;
  }
}

h5, .h5 {
  font-family: 'NStext', helvetica, arial, san-serif;
  font-size: 1.1em;
  color: #796E65;
}

h6, .h6 {
  font-family: 'NStext', helvetica, arial, san-serif;
  font-size: 1em;
  color: #796E65;
  line-height: 1.25;
  font-weight: bold;
}

acronym, abbr {
  font-style: italic !important;
  border-bottom: 1px dotted #aaa;
  text-decoration: none;
}

em {
  font-style: italic;
}

ul {
  margin: 0 0 2rem;
  padding-left: 1.5em;
  list-style-type: square;
  ul {
    list-style-type: revert;
  }
}

ol {
  margin: 0 0 2rem;
}

a {
  text-decoration: none !important;
  &:hover {
    color: #005158;
  }
}

li {
  line-height: 1.4em;
  padding-bottom: 0.4em;
}

/* ==========================================================================
   @grid 
   ========================================================================== */

[class^="grid"] {
  clear: both;
  padding: 0;
  margin: 0 -1rem;
  &:after {
    content: '';
    display: table;
    clear: both;
  }
  > * {
    display: block;
    float: left;
    list-style-type: none;
    box-sizing: border-box;
    width: 100%;
    padding: 0 1rem;
  }
}

[class^="col-"] {
  display: block;
  float: left;
  clear: none;
}

[class^="grid"] [class^="col-"] {
  clear: none !important;
}

@media (min-width: 40em) {
  .grid-4-cols > * {
    width: 50%;
    &:nth-child(n) {
      clear: none;
    }
    &:nth-child(2n + 3) {
      clear: left;
    }
  }
}

@media (min-width: 55em) {
  .grid-4-cols > * {
    width: 25%;
    &:nth-child(n) {
      clear: none;
    }
    &:nth-child(4n + 5) {
      clear: left;
    }
  }
  .col-1\/4:nth-child(n) {
    width: 25%;
  }
  .col-3\/4:nth-child(n) {
    width: 75%;
  }
}

@media (min-width: 55em) {
  .grid-4-cols\@quarts > * {
    width: 25%;
    &:nth-child(n) {
      clear: none;
    }
    &:nth-child(4n + 5) {
      clear: left;
    }
  }
  .col-1\/4\@quarts:nth-child(n) {
    width: 25%;
  }
  .col-3\/4\@quarts:nth-child(n) {
    width: 75%;
  }
}

@media (min-width: 64em) {
  .grid-4-cols\@fifths > * {
    width: 25%;
    &:nth-child(n) {
      clear: none;
    }
    &:nth-child(4n + 5) {
      clear: left;
    }
  }
  .col-1\/4\@fifths:nth-child(n) {
    width: 25%;
  }
  .col-3\/4\@fifths:nth-child(n) {
    width: 75%;
  }
}

/*

  This is used to undo some of the base styles we set (in ../_core/_set-basic.scss) for:
  - browsers that can't understand media queries
  - and/or aren't [gt IE 8]

  */

/* ==========================================================================
   @button 
   ========================================================================== */

button, .button, *[type=submit] {
  font-family: 'NStext-bold', helvetica, arial, san-serif;
  position: relative;
  display: inline-block;
  font-size: 0.95em;
  font-weight: 500;
  padding: 0.7em 1em;
  margin: 0 0.25em 1em 0;
  text-align: center;
  text-decoration: none;
  border: 1px solid rgba(100, 100, 100, 0.1);
  background: white;
  color: #fff;
  line-height: normal;
  vertical-align: middle;
  text-transform: uppercase;
}

button:hover, .button:hover, *[type=submit]:hover {
  color: #fff;
  background: #f2f2f2;
  text-decoration: none;
}

button.size-big, .button.size-big, *[type=submit].size-big {
  font-size: 1.2em;
}

button.size-small, .button.size-small, *[type=submit].size-small {
  font-size: 0.75em;
}

button.button-oak, .button.button-oak, *[type=submit].button-oak {
  background: #aaa19a;
  color: #4f4842;
}

button.button-oak:hover, .button.button-oak:hover, *[type=submit].button-oak:hover {
  background: #b6aea8;
  color: #4f4842;
}

button.button-oak-dark, .button.button-oak-dark, *[type=submit].button-oak-dark {
  background: #4f4842;
  color: #f0eeed !important;
}

button.button-oak-dark:hover, .button.button-oak-dark:hover, *[type=submit].button-oak-dark:hover {
  background: #0a0908;
  color: white;
}

button.button-white, .button.button-white, *[type=submit].button-white {
  background: rgba(255, 255, 255, 0.2);
  color: white;
}

button.button-white:hover, .button.button-white:hover, *[type=submit].button-white:hover {
  background: rgba(255, 255, 255, 0.6);
  color: #4f4842;
}

button.button-full-width, .button.button-full-width, *[type=submit].button-full-width {
  display: block;
  margin-right: 0;
  padding-right: 0;
}

/* ==========================================================================
   @Footer 
   ========================================================================== */

.subfooter {
  margin-top: 4em;
  padding: 2em 0;
  background: #877b71;
  color: white;
  text-align: left;
  a {
    color: white;
  }
}

.footer-site {
  padding: 2em 0 0 0;
  background: #796E65;
  text-align: left;
  margin: 0;
  font-size: 0.9em;
  color: white;
  a {
    color: #f0eeed;
    font-size: 0.8em;
    text-decoration: none;
    &:hover {
      text-decoration: underline !important;
      color: white;
    }
  }
  &:after {
    content: '';
    display: table;
    clear: both;
  }
  ul {
    margin: 0;
    padding: 0;
    list-style: none;
    li {
      list-style: none;
      text-align: left;
    }
  }
  span {
    display: block;
    margin-top: 1em;
    font-size: 1.1em;
    font-weight: bold;
  }
  .socials {
    margin-bottom: -0.2em;
  }
  .wrap.social h2 {
    margin-top: 2em;
    font-family: 'NSscript', helvetica, arial, san-serif;
    margin-bottom: 0.6em;
    font-size: 3em;
    text-align: center;
  }
}

.postfooter {
  padding: 1em 0 0 0;
  font-size: 1em;
  background: white;
  ul {
    display: inline-block;
    list-style: none;
  }
  li {
    display: inline;
    a {
      color: #796E65;
      padding: 0 0.5em;
      text-decoration: underline;
    }
  }
}

.shares-arrow {
  display: inline;
  margin-bottom: -1px;
}

.socials {
  display: flex;
}

.box-social {
  margin: 0;
  align-self: stretch;
  display: inline-flex;
  flex-direction: row;
  flex-grow: 1;
  flex-basis: 0;
}

.box-social-inner {
  img {
    width: 50px;
  }
  a.icon-link {
    display: inline-block;
    margin: 0 1.5em 1em 0;
    border-radius: 6em;
    background: #635a52;
    text-align: center;
    padding: 2em;
    &:hover {
      background: #6e645c;
    }
  }
}

a .infobox-image {
  h3, h4 {
    text-decoration: none !important;
  }
}

.wrap {
  padding: 0px 8%;
}

.subfooter .wrap img, .wrap.social img {
  display: block;
  max-width: 100%;
  max-height: none;
  height: auto;
  margin: 0 auto;
}

.footer-site p {
  margin: inherit;
}